.navBar {
  color: #fff;
  padding: 5px 10px;

  .freePalestine {
    background-color: #fff;
    text-align: center;
    color: var(--secondColor);
    padding: 25px;
    border-radius: 15px;
    h4 {
      font-size: 25px;
      font-weight: bold;
    }
  }
  a {
    // margin: 10px;
    padding: 5px;
    font-weight: 800;
    font-size: 25px;
  }
  .activeLink {
    border-bottom: 3px solid var(--secondColor);
    color: var(--secondColor);
  }
  .navLinkAbout {
    background-color: var(--primaryColor);
    color: var(--white);
    border-radius: 5px;
    margin-left: auto;
    width: fit-content;
    padding: 10px;
  }
}
@media (max-width: 1000px) {
  .navBar {
    margin: auto;
  }
}

@media (max-width: 500px) {
  .navBar {
    padding: 3px;
  }
}
